<div md-subheader class="header-container">
  <h4>
    {{header}}
  </h4>
  <div class="fill">
    <button md-button (click)="onNewTaskClick()">
      <md-icon>add_circle_outline</md-icon>
      <span>新任务</span>
    </button>
  </div>
  <div>
    <button md-icon-button [mdMenuTriggerFor]="menu">
      <md-icon>keyboard_arrow_down</md-icon>
    </button>
  </div>
</div>
<md-menu #menu>
  <button md-menu-item>
    <md-icon>mode_edit</md-icon>
    修改列表名称
  </button>
  <button md-menu-item (click)="onMoveAllClick()">
    <md-icon class="material-icon" [svgIcon]="'move'"></md-icon>
    移动本列表所以内容
  </button>
  <button md-menu-item>
    <md-icon>delete_forever</md-icon>
    删除列表
  </button>
</md-menu>
